html,body,li,a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;

}
.hide{
    position: absolute;
    left: -500px;
}

.nav{
    display: flex;
    padding-left: 230px;
    padding-top: 25px;
    align-items: center;
    padding-bottom: 25px;
}
.logo
{
    margin-right: 40px;
}
.menu{
    font-size: 14px;

}
.nav .menu ul{
    display: flex;  

}
.nav .menu ul li{
    padding-right: 60px;
     
}
.nav .menu ul li a:hover{
    color:#32A2FA;
    font-weight: bold;
}
.main{
    display: inline-block;
    width: 100%;
    text-align: center;
    background: url(../img/main.jpg) no-repeat;
    background-position: 10px;
    background-size: 100%;
    height: 700px;
    margin-bottom: 0px;
}
.slogan p{
    font-size: 42px;
    margin-top: 70px;
    font-weight: bold;
    
}
.phrases
{
    padding: 0px;
    background: #19254d;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.phrases .left ,.phrases .right
{
    margin-top: 5px;

}
.phrases .left{
    font-size: 30px;
    font-weight: 300;
    color: white;
    line-height: 45px;
}
.phrases .right
{
    color: white;
    font-size: 14px;
    line-height: 25px;
    margin-right: 300px;
}
.postive{
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
}


.postive .strong{
    margin-top:30px;
    font-size: 28px;
    font-weight: bold;
}
.postive .detail{
    font-size: 15px;
    color: #4b5064;
    line-height: 23px;
    font-weight: bold;
}
.line{
    width:89%;
    text-align: center;
    border-bottom: 1px solid #868b9c;
    margin: 0 auto;

}
.line_up{
    margin-top: 90px;
    margin: auto 0;
    height: 600px;

}
.line_up .kind,.line_up .example{
    margin-left: 300px;
}
.line_up h2{
    text-align: center;
    margin-left: 90px;
    font-size: 50px;
}
.line_up .kind ul {
    display: flex;
}
.line_up .kind ul li{
    padding: 50px;
    
}
.line_up .kind ul li a{
    color: #9da0ae;
    font-weight: bold;
}
.line_up .kind ul li .active{
    color: #32a2fa;
    font-weight: bold;
}
.example
{
    display: flex;
    align-items: center;
}
.example .explain{
    margin-left: 150px;
    margin-bottom: 90px;
}
.example .explain .title{
    color: #101a3d;
    font-size: 30px;
    font-weight: bold;
}
.example .explain .title_2{
    color:#868b9c;
    font-size: 17px;
}
.example .explain ul li{
    font-size: 15px;
    line-height: 30px;
    list-style-type: square;
}
.guide{
    background: #19254d;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.guide img{
    border-radius: 17px;
}
.method
{
    color: white;
    margin-left: 200px;
}
.method h2{
    font-size: 50px;
    font-weight: 300;
}
.method strong{
    font-size: 22px;
}
.mehtod p
{
    font-size: 14px;
}
.info{
    color: #4b5064;

}
.info h2{
    margin-left: 360px;
    font-size: 50px;
    color: #262a38;
    font-weight: 300;
}
.info .time{
    display: flex;
    align-items:center; 
    margin-left: 360px;
    padding-top: 25px;

}
.time h2{
    margin-left: 30px;
    font-size: 23px;
    font-weight: 300;
}
.time p{
    font-size: 15px;
    margin-left: 30px;
}
footer{
    background: #f5f6f7;
    height: 180px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-top: 40px;
}
footer p
{   
    color: #4B5064;
    font-size: 13px;
}
footer .first
{
    margin-right: 20px;
}
footer .second
{
    margin-right: 30px;
}
footer .sns{
    display: flex;
    padding-right: 30px;
}
footer .sns img{
    padding-right:7px;
    padding-top: 12px;
}
i
{
    font-size: 20px;
   
}
.nav i{
    font-size: 25px;
}
.nav .hambuger
{
    display: none;
    position: absolute;
    right: 20px;
    top: 25px;

}
.nav .menu .close{
    display: none;
}
.hr{
    display: none;
}
.guide .mobile
{
   display: none;
}


@media screen and (max-width:1210px) {
    html{
        width: 1209PX;
        margin: 0px;
    }
    .nav .logo
    {
        margin-left: 200px;
    }
    .nav{
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
    }
    .nav .menu{
        display: none;
    }
    .nav .menu ul
    {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 370%;
    }
    .nav .menu ul li
    {
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .nav .hambuger{
        display: block;
    }
    .phrases
    {
        height: 400px;
    }
    .phrases
    {
        flex-direction: column;
        align-items: center;

        
    }
    .phrases .right,.phrases .left{
        margin: 0;
    }
    .phrases .hr{
        display: block;
    }
    .postive{
        flex-direction: column;
        align-items: center;
    }
    .postive .pos{
        padding-bottom: 30px;
    }
    .line_up{
        height: 900px;
    }
    .line_up .example
    {
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .line_up .all .explain{
        margin: 0 auto;
    }
    .guide{
        flex-direction: column;
        height: 800px;
    }
    .guide .mobile{
        display: block;
        font-size: 30px;
        
        color: white;
    }
    .guide .phone{
        padding-bottom: 20px;
    }
    .guide .mehtod strong{
        padding-top: 20px;
    }
    .guide .method{
        margin: 0;
        text-align: center;
    }
    .guide .method h2{
        display: none;
    }
}